<html>
	<head>
		<title>
			Users | Create
		</title>
	</head>
	<body>
		<center>
			<h1>Ajouter un utilisateur</h1>
		</center>
		
		
		<table>
			<tr>	
				<td>
					<label>Nom</label>
				</td>
				<td>
					<input type="text" name="nom" required/>
				</td>
			</tr>
			<tr>
				<td>
					<label>Prénom</label>
				</td>
				<td>
					<input type="text" name="prenom" required/>
				</td>
			</tr>
			<tr>
				<td>
					<label>Code</label>
				</td>
				<td>
					<input type="text" name="code"/>
				</td>
			</tr>
			<tr>
				<td>
					<label>Email</label>
				</td>
				<td>
					<input type="email" name="nom" required/>
				</td>
			</tr>
			
			<tr>
				<td>
					<label>Pass</label>
				</td>
				<td>
					<input type="radio" name="genererPassword"/>
				</td>
			</tr>
			
			<tr>
				<td>
					
				</td>
				<td>
					<input type="password" name="password"/>
					<label>Générer un nouveau mot de passe automatiquement</label>
				</td>
			</tr>
			
			<tr>
				<td>
					<label>Profile</label>
				</td>
				<td>
					<select name="profile">
						<option disabled> Profile </option>
						<option> Profile </option>
					</select>
				</td>
			</tr>
			
			<tr>
				<td>
					<label>Email à l'utilisateur</label>
				</td>
				
				<td>
					<label for="oui">Oui</label>
					<input type="radio" name="oui"/>
					<label for="non">Non</label>
					<input type="radio" name="non"/>
				</td>
			</tr>
			
			<tr>
				<td>
					<label>
						Expiration
					</label>
				</td>
				<td>
					<input type="radio" name="noExpiration"/><br/>
					<input type="radio" name="expiration"/>
					<input type="date" name="expirationDate"/>
				</td>
			</tr>
			
			<tr >
				<td></td>
				<td>
					<div style="padding: 20px">
						<button type="submit" >Ajouter</button>	
					</div>
				</td>
			</tr>
		</table>
	</body>
</html>